---
import type { MarkdownHeading } from "astro";
import { generateToc } from "@/utils/generateToc";
import TOCHeading from "./TOCHeading.astro";

interface Props {
	headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const toc = generateToc(headings);
---

<details open class="w-full">
	<summary class="title hover:marker:text-accent cursor-pointer text-lg">Table of Contents</summary>
	<nav class="ms-4">
		<ol class="mt-4 text-sm">
			{toc.map((heading) => <TOCHeading heading={heading} />)}
		</ol>
	</nav>
</details>
